/* Resets the margin and padding to zero so that I don't have to worry about each browsers specifications on these values. Also, I've 
set the box-sizing to border-box, so that I don't have to do the additional math when determing height/width with margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("../img/background-photo.jpg");
  background-size: cover;
}

.input {
  margin: 20px 0px;
}

li {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 5px;
}

li button {
  background-color: rgb(244, 74, 17);
  margin-left: 4px;
}

.blue-button {
  background-color: rgb(171, 242, 246);
}

button {
  border-radius: 4px;
  font-weight: bold;
  padding: 2px;
}

/* flexbox layout start */

.container {
  display: flex;
  margin: 1% 1%;
  justify-content: center;
}

.title-and-input {
  display: flex;
  flex-direction: column;
}

/*Class for the struck of text that has been marked completed
  also changes the text color to grey*/

.completed {
    text-decoration: line-through;
    color: #888888
}